<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Control Fit Logo</title>
        <link rel="icon" th:href="@{img/logo.png}"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="background-color: gray;">
        <img th:src="@{img/logo.png}" alt="Control Fit Logo" style="background-color: black;
             display: inline-flex;
             justify-content: center;
             align-content: center"/> 
    </body>
</html>
